<div id="<%= dom_id turma %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= turma.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= turma.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Class data:</strong>
    <%= turma.class_data %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Id docente:</strong>
    <%= turma.id_docente %>
  </div>
</div>
